
// custom styles

body {
	background: #efefef;
}

#app-container {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
}

.chat-app {
	height: 100%;
	display: flex;
}

.chat-window {
	flex-direction: column;
	display: flex;
	&__messages {
		flex: 1;
	}
	&__message {
		height: auto;
		span {
			background: #4286f4;
			color: #ffffff;
			padding: 4px 8px;
			display: inline-block;
			margin-bottom: 5px;
		}
	}
}